.intro ul{overflow: hidden;}
.intro ul li{float:left; margin:20px 50px; width:280px; height:280px; background-color: #ebf0f2 ; border-radius: 50%; box-shadow: 2px 4px 5px 1px rgb(0 0 0 / 20%); position:relative; opacity: 0;}
.intro ul li:first-of-type{margin-left: 80px;}
.intro ul li img{position:absolute; top:0; left:40px;transition:all .3s ease;}
.intro ul li:first-of-type img{margin-top:20px;}
.intro ul li:hover img{top:-10px;}
.intro ul li p{font-size:24px; color:#005793; text-align: center; margin-top:220px;transition:all .3s ease;}
.intro ul li:hover p{margin-top:210px;}

.intro ul li.active:first-child{animation:moveDown .5s forwards}
.intro ul li.active:nth-child(2){animation:moveDown .5s .5s forwards}
.intro ul li.active:last-child{animation:moveDown .5s 1s forwards}
@keyframes moveDown{from{opacity:0; top:-70px;}to{opacity: 1; top:0}}

.content_area h3{font-size:36px; font-weight:500; text-align:center; margin-top:150px;position:relative }
.content_area h3::after{content: ''; width:200px; height:3px; background-color: #005793; position:absolute; bottom:-20px; left:50%;margin-left:-100px;}
.con1 p{font-size:18px; line-height:36px; margin: 70px 50px; text-align: justify;font-weight: 400;}
.con1 ul{overflow: hidden;}
.con1 ul li{float:left;margin:50px;}

.con1 ul li:first-child{margin-left:220px;}
.con1 ul li strong{font-size:100px; font-weight: 600; color:#005793; transition:all .3s ease;}
.con1 ul li p{font-size:30px; font-weight: 600; color:#005793; margin:0; text-align: center;transition:all .3s ease;}
.con1 ul li:hover p, .con1 ul li:hover strong{color:#00a5e5;}
.con1 ul li:first-child p.active, .con1 ul li:first-child strong.active{animation:light 1s forwards}
.con1 ul li:nth-child(2) p.active,.con1 ul li:nth-child(2) strong.active{animation:light 1s .7s forwards}
.con1 ul li:last-child p.active,.con1 ul li:last-child strong.active{animation:light 1s 1.4s forwards}
@keyframes light{0%{color:#005793}50%{color: #00a5e5;}100%{color:#005793}}


.con2 ul {padding-top:200px; overflow: hidden;}
.con2 ul li{float:left; padding:5px; margin:70px 50px 0 50px; position:relative;}
.con2 ul li:first-child{margin-left:130px;}
.con2 ul li img{width:300px; height:300px; border-radius: 50%;  box-shadow: 2px 4px 5px 1px rgb(0 0 0 / 20%); position:absolute; top:-160px; left:46px; }
.con2 ul li dl{width:400px; height:180px; padding:180px 0 50px 0;  text-align: center;  background-color: #f8f8f8; }
.con2 ul li dl:hover{box-shadow: 2px 4px 5px 1px rgb(0 0 0 / 20%);}
.con2 ul li dl dt{font-size:24px; font-weight: 500; padding-bottom:30px;}
.con2 ul li dl dd{width:340px; line-height:2em; margin-left:30px;}

.con3{overflow: hidden; position: relative; margin-bottom:100px;}
.con3 img{width:300px; float:left; position:absolute; bottom:90px; left:100px;}
.con3 p {line-height: 2em; text-align: justify;  width:600px; float:right; padding:100px 50px 0 100px;}
.con3 p:last-of-type{padding:50px 50px 100px 100px;}