
.header span a{font-size: 1.5em;}
.header span:first-child{float: left; padding: 20px;}
.header span:last-child{float: right; padding: 20px;}

.logo img{margin: 60px auto 0; display: block; width: 113px; height: 49px;}
  

.join_box h2{font-size: 2em; font-weight: 500;  text-align: center;margin-top: 30px;}
.join_box p{text-align: center; color:#999; margin:10px 0 50px 0;}
.join_box p span{color:red;}
.join_box ul li{position: relative; margin-bottom: 20px;}

.join_box label{display: block; font-weight: 600; margin-left: 5%;}
.join_box label::after{content: "*"; color:red; }
.join_box input{ padding:20px; margin-top: 20px ;border-radius: 10px; border:1px solid #ccc;  width: 90%; margin-left:5%; box-sizing: border-box;}

.join_box ul li span{display: block; font-weight: 600; margin-left: 5%;}
.join_box ul li span::after{content: "*"; color:red;}
.join_box .hp{width:25%; margin:20px 3% ; border-radius: 10px; border:1px solid #ccc; font-size: 16px;}
.join_box #hp1{margin-left:5% ;}
.join_box #hp2{padding:10px 0}
.join_box #hp3{margin-right: 0;padding:10px 0}

.button{overflow: hidden; position: relative; left: 50%; margin-left:-160px ;}
.button button{display: block;width: 150px;border: none;background: #005793;color: #fff;font-size: 14px;
    margin: 30px 5px; padding: 10px 0; float: left;}

#footerArea{margin-top: 20px; background-color: #fff;}
footer p{width: 90%; margin-left: 5%; text-align: center; margin-top: 10px;}