.intro{overflow: hidden;width:1600px; position:relative; left:50%; margin-left: -800px;}
.intro .bulk_img{width:660px; height:425px; float:right; overflow:hidden;opacity: 0;margin-right: 100px;}
.intro .bulk_img.active{animation:right-left .5s ease-out forwards}
.intro .bulk_img img{ transition:all .7s ease;}
.intro .bulk_img:hover img{transform: scale(1.1);}
.intro .bulk_text {float:right; width:650px; margin-right:100px;opacity: 0;}
.intro .bulk_text.active{animation:left-right .5s ease-out forwards}
.intro .bulk_text dt{font-size:30px; font-weight: 500; margin:30px 0;position:relative;color:#ee312f;}
.intro .bulk_text dt::after{content:''; display: block;background-color:#ee312f; width:70px; height:2px; position: absolute; left:0; bottom:-10px;}
.intro .bulk_text dd{font-size:18px; line-height: 36px; text-align: justify; margin-top:20px;}

@keyframes left-right{from{transform: translateX(-70px); opacity: 0;}to{transform: translateX(0); opacity:1;}}
@keyframes right-left{from{transform: translateX(70px); opacity: 0;}to{transform: translateX(0); opacity:1;}}

.top_topic{text-align:center; width:2000px; margin:150px 0 100px 0;position:relative; left:50%; top:0; margin-left:-1000px;}
.top_topic::before{content:''; display:block; width:100%; height:1px; background:#ececec; position:absolute; bottom:0; left:0;}
.top_topic p{font-size:30px; font-weight:500; margin-bottom:56px;}
.top_topic ul{width:600px; margin:0 auto; overflow: hidden;}
.top_topic li{ font-size:24px; float:left; width:33.3%; }
.top_topic li .afline{color:#005793; font-weight:500; opacity:1;position:relative;}
.top_topic li .afline::before{content:''; display: block; width:100px; height:2px; background-color: #005793; position:absolute; left:50px; bottom:-24px;;}
.top_topic li a{display:block; margin-bottom:24px; font-weight:400; font-size:18px; color:#666; opacity:.6}

.tank p, .liner p, .tramper p{text-align: center; font-size:30px; font-weight: 500; margin-bottom:100px;}
.tank p span, .liner p span, .tramper p span{color:#005793}

.tank dl dt,.liner dl dt, .tramper dl dt {font-size:24px; font-weight:500; color:#005793;}
.tank dl dd, .liner dl dd, .tramper dl dd{font-size:1em; line-height:2em; text-align: justify; margin-top:30px;}
.tank dl dd a, .tramper dl dd a{display: block; text-align: center; position: absolute; left:0; bottom:-60px;
    color: #333;font-size: 0.889em;padding: 10px 0;border-radius: 20px; width: 150px; box-shadow: 1px 1px 10px 0 rgb(0 0 0 / .2); transition:all .3s ease;}
.tank dl dd a:hover, .tramper dl dd a:hover{background-color:#005793; color:white}

.content_area02,.content_area03{display:none;}

.tank_01{background-image: url(../images/content2/tank1.jpg); width: 1200px; height:600px;position:relative}
.tank_01 dl{width: 540px; position:absolute; right:30px; bottom:100px;}
.tank_02{background-image: url(../images/content2/tank2.jpg); width: 1200px; height:600px; margin:100px 0;position:relative}
.tank_02 dl{width: 540px; position:absolute; left:30px; bottom:150px;}

.liner_01{background-image: url(../images/content2/liner1.jpg); width: 1200px; height:600px; margin:100px 0;position:relative}
.liner_01 dl{width: 540px; position:absolute; right:-50px; bottom:150px;}
.liner_01 p{font-size:18px; font-weight:600;color:#005793; position:absolute; left:140px; bottom:-50px;}

.tramper_01{background-image: url(../images/content2/tramper1.jpg);width: 1200px; height:600px;position:relative}
.tramper_01 dl{width: 540px; position:absolute; right:-30px; bottom:120px;}
.tramper_02{background-image: url(../images/content2/tramper2.jpg);width: 1200px; height:600px;margin:100px 0;position:relative}
.tramper_02 dl{width: 540px; position:absolute; left:20px; bottom:145px;}
.tramper_03{background-image: url(../images/content2/tramper3.jpg);width: 1200px; height:600px;margin:100px 0;position:relative}
.tramper_03 dl{width: 540px; position:absolute; right:-10px; bottom:120px;}

.modal_box{position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; 
    background: #000; opacity: .3; display: none;}
.popup{ border:5px solid #005793; background: #fff; position:fixed; padding:100px 0 0 150px; left:50%;  top:50%; overflow: hidden; display:none; z-index:120;
        width:1000px; height:500px;margin-left:-600px; margin-top:-300px;} 
.popup1_2{height:250px;margin-top:-180px;} 
.popup2_2{height:350px;margin-top:-250px;}
.popup2_3{height:700px;margin-top:-400px;}
.popup .closeBtn{position:absolute; top:25px; right:25px; display:block; width:32px; height: 32px; padding:10px; color:#005793}
.popup .closeBtn i{font-size: 2em; transition:all .5s}
.popup .closeBtn:hover i{transform: rotate(180deg);}

table{ width:800px; text-align:center; font-size:14px; border-collapse: collapse;}
td,th{ padding: 14px;}
tr{border-bottom: 1px solid #005793;;}
table tr:first-child th{background-color: #005793; color:white; border:none;}
